<main>
  <div class="form__wrapper">
    <form class="form">
      <div class="form__box">
        <label for="passwordInput" class="form__text">Password</label>
        <input
          (input)="onChange($event)"
          class="form__input"
          type="password"
          id="passwordInput"
          name="passwordInput"
          placeholder="Enter password here"
        />
      </div>
      <p class="form__strengthText">Strength of a password</p>
      <div class="form__alertWrap">
        <div
          class="form__alertBox"
          [ngClass]="{
            'notEmpty': !isEmpty && !isCorrectLength,
            'easy': isEasy,
            'medium' : isMedium,
            'strong' : isStrong
          }"
        ></div>
        <div
          class="form__alertBox"
          [ngClass]="{
            'notEmpty': !isEmpty && !isCorrectLength,
            'medium' : isMedium,
            'strong' : isStrong
          }"
        ></div>
        <div
          class="form__alertBox"
          [ngClass]="{
            'notEmpty': !isEmpty && !isCorrectLength,
            'strong' : isStrong
          }"
        ></div>
      </div>
    </form>
  </div>
</main>
